
.footer{
    width: "100%";
    background: var(--color-accentColor);
    border-top: solid 3px rgba(0,0,0,0.1);
}
.dynContainer{
    display: flex;
    flex-direction: column;  
}
.columnsContainer{
    display: flex;
    flex-direction: row;
}
.column{
    flex: 1;
    display: flex;
    padding: 25px;
    flex-direction: column;
}
.column h1{
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}
.column a, .column h2{
    font-family: "Roboto", sans-serif;
    color: rgba(255,255,255,0.7);
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 5px;
    text-decoration: none;
    cursor: pointer;
}
.column a:hover{
    text-decoration: underline;
}
.descContainer{
    display: flex;
    flex-direction: column;
    padding-right: 25px;
    flex: 1;
}
.logoContainer{
    width: 50px;
    height: 50px;
    background-color: white;
    padding: 25px;
    border-radius: 20px;
}
.logoContainer img{
    width: 100%;
}
@media only screen and (min-width: 720px) {
    /*DESKTOP VERSION*/
    .dynContainer{
        flex-direction: row;
    }
}

.g-center{
    left: 0;
    right: 0;
    position: relative;
    margin: auto;
}
.g-center-x{
    left: 0;
    right: 0;
    position: relative;
    margin-left: auto;margin-right: auto;
}
.g-max-1024{
    max-width: 1024px;
}