
input, select, textarea{
    background: white;
    padding: 18px 22px;
    border-radius: var(--border-radius-small);
    background-color: var(--color-bg-light);
    font-weight: 500;
    border: solid 2px #eee;
    font-size: 13px;
    outline: none;
}
input[type="file"]{
    display: none;
}

.form-copy{
    background: white;
    padding: 10px 22px;
    border-radius: var(--border-radius-small);
    background-color: var(--color-bg-light);
    border: solid 2px var(--color-accentColor);
    font-size: 13px;
    outline: none;
    display: flex;
    flex-direction: row;
    color: var(--color-accentColor);
}
.form-copy[copied]{
    border-color: var(--color-submit);
    color: var(--color-submit);
}
.form-copy[copied] button{
    border-color: var(--color-submit);
}
.form-copy input.copy{
    flex: 1;
    background-color: transparent;
    font-weight: 500;
    padding: 0;
    border: 0;
    border-radius: 0;
}
.form-copy button{
    background-color: transparent;
    border: 0;
    margin: 10px 0;
    color: inherit;
    font-weight: bold;
    cursor: pointer;
    flex-shrink: 0;
    width: 60px;
    border-left: solid 1px var(--color-accentColor);
    margin-left: 5px;
}


textarea{
    min-width: calc(100% - 48px);
    max-width: calc(100% - 48px);
    width: calc(100% - 48px);
    min-height: 200px;
    max-height: 500px;
}
label{
    color: var(--color-accentColor);
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 10px;
    letter-spacing: 1px;
    position: relative;
}
label[required]::after{
    content: "";
    background-image: url("/imgs/icons/report_accentColor_24dp.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 18px;
    height: 18px;
}
form{
    display: flex;
    flex-direction: column;
    margin: 25px;
}
form label:first-child {
    margin-top: 0;
}
label{
    margin-top: 25px;
}
button.validate{
    background-color: var(--color-submit);
    border-radius: var(--border-radius-small);
    padding: 22px;
    font-size: 15px;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-weight: 600;
    cursor: pointer;
}
button.submit{
    background-color: var(--color-submit);
    border-radius: var(--border-radius-small);
    padding: 22px;
    margin-top: 50px;
    font-size: 15px;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: 600;
    max-width: 250px;
    cursor: pointer;
}
button.submit.full{
    width: 100%;
    max-width: unset;
}
button.submit:hover, button.validate:hover{
    background-color: var(--color-submit-pressed);
}
hr{
    margin-top: 25px;
}
.form-searchBar{
    display: flex;
    flex-direction: row;
    height: 60px;
    border-radius: var(--border-radius-small);
    overflow: hidden;
    border: solid 1px rgba(0,0,0,0.2);
}
.form-searchBar input{
    background-color: white;
    height: 40px;
    border: 0;
    padding: 10px 22px;
    border-radius: 0;
    font-size: 13px;
    box-shadow: unset;
}
.form-searchBar button{
    background-color: var(--color-accentColor);
    border: 0;
    height: 60px;
    padding: 10px 22px;
    border-radius: 0;
    font-size: 13px;
    box-shadow: unset;
    color: var(--color-font-op);
    cursor: pointer;
    font-weight: 600;
}
.form-searchBar button:hover{
    background-color: var(--color-pressed);
}
.form-alert{
    padding: 25px;
    border-radius: var(--border-radius-small);
    background-color: var(--color-bg);
    display: flex;
    flex-direction: row;
    align-items: center;
    border: solid 1px rgba(0,0,0,0.1);
}
.form-alert[hidden]{
    display: none;
}
.form-alert p{
    flex: 1;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 25px;
    text-align: left;
    color: var(--color-accentColor);
}
.form-alert img{
    width: 40px;
    height: 40px;
    padding: 15px;
    padding-left: 0;
    margin-right: 15px;
    border-right: solid 1px rgba(0,0,0,0.1);
}
.uploadImageLabel{
    position: relative;
    float: left;
    height: 200px;
    overflow: hidden;
    border-radius: var(--border-radius);
    background-color: var(--color-bg);
    border: solid 2px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1);
    transition: transform .3s;
    cursor: pointer;
}
.uploadImageLabel:hover{
    opacity: .7;
}
.form-separator{
    height: 1px;
    margin: 25px 0;
    background-color: rgba(0,0,0,0.05);
}
.form-separator.sideMargin{
    margin-left: 25px;
    margin-right: 25px;
}
.form-separator + label {
    margin-top: 0;
}
h2.form-category{
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    color: var(--color-font-subtitle);
}