*{
    padding: 0;
    margin: 0;
}
.g-background{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    min-height: 100vh;
    background-color: var(--color-bg-light);
    overflow-y: auto;
    overflow-x: hidden;
}
.g-background.bgColor{
    background-color: var(--color-bg);
}
.g-content{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    min-height: 100vh;
}
.g-content.flexColumn{
    display: flex;
    flex-direction: column;
}
.g-content.verticalAlign{
    justify-content: center;
}
.g-content.blockHeight{
    height: 100vh;
}
.g-center{
    width: 100%;
    height: 100vh;
    display: flex;
    z-index: 10;
    position: relative;
}
.g-center.g-flexContainerVertical{
    display: flex;
    flex-direction: column;
}
.g-maxflex{
    flex: 1;
}
.g-background-map {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.5;
}

.g-topBar{
    position: relative;
    height: 6vh;
    margin: calc(1vh + 25px);
    margin-right: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.g-topBar.hiddenOnMobile{
    display: none;
}
.g-topTitle{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
    height: 100%;
}
.g-topTitle b{
    color: var(--color-accentColor);
}
a.g-topTitle{
    cursor: pointer;
}
a.g-topTitle:hover{
    opacity: 0.5;
}
.g-topTitle img{
    width: 3vh;
    height: 3vh;
    margin: 1.5vh;
}
a.g-topTitle h1{
    display: none;
}
.g-topTitle h1{
    font-weight: 500;
    font-size: 25px;
}
.g-topIcons{
    width: 6vh;
    display: flex;
    flex-direction: row;
    margin-right: 15px;
}
.g-topIcons button{
    background: none;
    border: none;
    width: 6vh;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s;
}
.g-topIcons button img{
    width: 3vh;
    height: 3vh;
    margin: 1.5vh;
}
.g-topIcons button:hover{
    animation: hithere 1s ease infinite;
    opacity: 0.2;
}
@keyframes hithere {
    30% { transform: scale(1.1); }
    40%, 60% { transform: rotate(-10deg) scale(1.1); }
    50% { transform: rotate(10deg) scale(1.1); }
    70% { transform: rotate(0deg) scale(1.1); }
    100% { transform: scale(1); }
}
/*animation from : https://codepen.io/nelledejones/pen/gOOPWrK*/
.g-info-box{
    margin: 5px 25px;
    padding: 25px;
    border-radius: var(--border-radius-small);
    background-color: var(--color-bg);
    display: flex;
    flex-direction: row;
    align-items: center;
    border: solid 1px rgba(0,0,0,0.1);
}
.g-info-box.noMargin{
    margin: 0;
}
.g-info-box p{
    flex: 1;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 25px;
    text-align: left;
    color: var(--color-accentColor);
}
.g-info-box b{
    color: var(--color-accentColor);
}
.g-info-box img{
    width: 40px;
    height: 40px;
    padding: 15px;
    padding-left: 0;
    margin-right: 15px;
    border-right: solid 1px rgba(0,0,0,0.1);
}
.g-columnsContainer{
    display: flex;
    flex-direction: column;
}
.g-columnSeparator{
    height: 1px;
    margin: 10px 0;
    background-color: var(--color-accentColor);
    opacity: 0.1;
}
.g-column{
    flex: 1;
    border-radius: var(--border-radius-small);
    background-color: var(--color-bg-light);
    -webkit-box-shadow: var(--shadow); 
    box-shadow: var(--shadow); 
    margin: 10px;
}
.g-column.h-full{
    height: 100%;
}

.g-loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.g-loader div {
  position: absolute;
  border: 4px solid var(--color-accentColor);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.g-loader div:nth-child(2) {
  animation-delay: -0.5s;
}
/* from: https://loading.io/css/ */
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
  
.g-modalContainer{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 100;
    background-color: rgba(0,0,0,0.25);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.g-modalContainer[hidden]{
    display: none;
}
.g-modal {
    background: var(--color-bg-light);
    width: 100%;
    max-width: 600px;
    padding: 25px;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
}
.g-modal[hidden]{
    display: none;
}
.g-modal-topBar{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: solid 1px rgba(0,0,0,0.1);
}
.g-modal-topBar h1{
    flex: 1;
    font-size: 20px;
    color: var(--color-font-title);
    font-weight: 600;
    line-height: 30px;
}
.g-modal-topBar button{
    width: 30px;
    height: 30px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}
.g-modal-topBar button:hover{
    opacity: .7;
}
.g-modal-topBar button img{
    width: 30px;
    height: 30px;
}
.g-modal-content{
    display: flex;
    flex-direction: column;
    max-height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.g-modal-content p{
    font-size: 14px;
    color: var(--color-font-subtitle);
    font-weight: 500;
    line-height: 19px;
}


/*DESKTOP VERSION*/
@media only screen and (min-width: 1280px) {
    a.g-topTitle h1{
        display: block;
        line-height: 8vh;
        vertical-align: middle;
        color: var(--color-font-title);
        font-weight: bold;
        font-size: 24px;
    }
    .g-topBar{
        margin-top: 2vh;
        margin-right: 1vh;
        margin-bottom: 0;
        max-height: 100px;
        min-height: 60px;
        height: 8vh;
    }
    .g-topTitle img{
        height: 3vh;
        width: 3vh;
        margin: 2.5vh;
        margin-right: calc(2.5vh + 15px);
    }
    .g-topIcons{
        height: 8vh;
        margin-right: 2vh;
    }
    .g-topIcons button img{
        width: 4vh;
        height: 4vh;
        margin: 2vh;
    }
    .g-content{
        position: absolute;
        left: var(--width-menu);
        top: 0;
        width: calc(100vw - var(--width-menu));
        min-height: 100vh;
    }
    .g-columnsContainer{
        flex-direction: row;
    }
    .g-columnSeparator{
        width: 1px;
        height: unset;
        margin: 0 10px;
    }
    .g-columnsContainer.solidBox{
        height: unset;
        margin: 5px 25px;
        padding: 25px;
        border-radius: var(--border-radius-small);
        background-color: var(--color-bg);
        border: solid 1px rgba(0,0,0,0.1);
    }
    .g-column{
        margin: 0;
    }
    .g-column.h-full{
        max-height: 60vh;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .g-topBar.hiddenOnMobile{
        display: block;
    }
}