.favouritesKots{
    margin: 25px;
}
/*Grid*/
.kotsContainer{
    display: grid;
    grid-template-columns: 100%;
    margin-top: 0;
    align-items: flex-start;
}
@media only screen and (min-width: 840px) {
    .kotsContainer{
        grid-template-columns: 50% 50%;
    }
}
@media only screen and (min-width: 1720px) {
    .kotsContainer{
        grid-template-columns: 33% 33% 33%;
    }
}
@media only screen and (min-width: 2100px) {
    .kotsContainer{
        grid-template-columns: 25% 25% 25% 25%;
    }
}
