.kotPreview {
    background: var(--color-bg-light);
    margin: 5px;
    height: auto;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
    border-radius: var(--border-radius);
    overflow: hidden;
    box-shadow: var(--shadow);
    border: solid 1px var(--color-bg-dark);
}
.kotPic {
    overflow: hidden;
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    position: relative;
}
.carrousel{
    position: relative;
    width: 100%;
    aspect-ratio: 2;
    overflow: hidden;
    background-color: var(--color-unloaded);
    overflow: hidden;
}
.carrousel img{
    width: 100%;
    position: absolute;
    top: 0;bottom: 0;left: 0;right: 0;
    margin: auto;
    opacity: 1;
}

.textContainer{
    position: absolute;
    bottom: 6px;
    left: 6px;
    z-index: 2;
    max-width: calc(100% - 44px);
    display: flex;
    flex-direction: column;
    height: 50px;
    background-color: var(--color-bg-light);
    padding: 16px;
    border-radius: 5px;
    box-shadow: var(--shadow);
}
.textContainer h1 {
    color: var(--color-font-title);
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.textContainer .priceContainer{
    height: 20px;
    z-index: 2;
    display: flex;
}
.textContainer .priceContainer h2{
    color: var(--color-font-subtitle);
    font-weight: 500;
    font-size: 15px;
    text-align: left;
}
.textContainer .priceContainer i{
    color: var(--color-font-subtitle);
    font-weight: 500;
    font-size: 15px;
    text-align: left;
}

.tagsContainer{
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 2;
    max-width: calc(65% - 16px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.tag{
    position: relative;
    background: rgb(65, 65, 65);
    border: solid 1px rgb(73, 73, 73);
    padding: 5px;
    display: flex;
    flex-direction: row;
    height: 20px;
    border-radius: var(--border-radius-small);
    cursor: pointer;
    overflow: hidden;
    transform: scale(1);
    transition: transform .5s;
    margin: 3px;
}
.tag .shine {
    position: absolute;
    top: 0;
    left: -70px;
    height: 100%;
    width: 50px;
    background: rgba(255, 255, 255, 0.3);
    transition: all .5s linear;
    transform: skewX(20deg) translateX(0);
}
.tag:hover{
    transform: scale(1.02);
}
.tag:hover .shine{
    transform: skewX(20deg) translateX(200px);
}

.tag.new{
    background: var(--color-submit);
    border-color: var(--color-submit-pressed);
}
.tag.owner{
    background: var(--color-cancel);
    border-color: var(--color-cancel-pressed);
}
.tag img{
    height: 14px;
    width: 14px;
    margin: 3px;
}
.tag p{
    line-height: 20px;
    font-size: 14px;
    vertical-align: middle;
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--color-font-op);
    margin: 0 5px;
}
.informationsContainer{
    flex: 1;
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.informationsContainer h2{
    flex: 1;
    color: var(--color-font-subtitle);
    font-weight: 500;
    font-size: 12px;
    margin: 0 !important;
}
.informationsContainer img{
    width: 25px;
    height: 25px;
    margin-right: 15px;
}
.informationsContainer.address{
    margin-top: 8px;
    margin-bottom: 8px;
}

.twoColumnsInfosContainer{
    display: flex;
    flex-direction: row;
}
.twoColumnsInfosContainer .informationsContainer{
    border-bottom: unset;
    background: transparent;
}


.tagsAndButtonsContainer {
    display: flex;
    flex-direction: row;
    width: calc(100% - 30px);
    margin: 15px;
    align-self: flex-start;
}

.tagsAndButtonsContainer a{
    background-color: var(--color-accentColor);
    padding: 10px 15px;
    border: 0;
    color: var(--color-font-op);
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    border-radius: var(--border-radius-small);
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}
.tagsAndButtonsContainer .separator{
    width: 8px;
}
.tagsAndButtonsContainer a:hover{
    background-color: var(--color-pressed);
}

.columnsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.kotInfos{
    flex: 1;
}

@media only screen and (min-width: 840px) {
    .kotPreview {
        margin: 15px;
    }
}