.kotPreview {
    background-color: var(--color-bg-light);
    border-radius: var(--border-radius);
    -webkit-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
    width: 20%;
    height: auto;
    flex: 1;
    display: column;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.5%;
    }

    .kotPic {
    background-color: var(--color-bg-light);
    border-radius: var(--border-radius);
    -webkit-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
    padding: 15px;   
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    margin: 15px;
}

.informationsContainer {
    display: flex;
    flex-direction: column;
    background: var(--color-bg);
    margin-top: calc(var(--border-radius) * -1);
    padding-top: var(--border-radius);
    border-radius: var(--border-radius);
    padding: 15px;
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    margin: 15px;
    text-align: center;
}

.tagsAndButtonsContainer {
    display: flex;
    flex-direction: column;
    width: calc(100% - 30px);
    margin: 0 15px;
    margin-top: 25px;
    align-self: flex-start;
}

.tagsAndButtonsContainer a{
    background-color: var(--color-accentColor);
    padding: 10px 22px;
    border: 0;
    color: var(--color-font-op);
    font-weight: 500;
    font-size: 20px;
    line-height: 45px;
    border-radius: 45px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    margin-bottom: 15px;
}

/*animation from : https://codepen.io/nelledejones/pen/gOOPWrK*/
.columnsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.kotInfos{
    flex: 1;
}

.carrousel{
    position: relative;
    width: 100%;
    aspect-ratio: 2;
    overflow: hidden;
    background-color: var(--color-unloaded);
    -webkit-box-shadow: var(--shadow); 
    box-shadow: var(--shadow); 
    border-radius: var(--border-radius);
}
.carrousel img{
    width: 100%;
    position: absolute;
    top: 0;bottom: 0;left: 0;right: 0;
    margin: auto;
}
.carrousel .controls{
    position: absolute;
    left: 15px;
    padding: 15px;
    bottom: 15px;
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: center;
    background-color: rgba(0,0,0,0.7);
    border-radius: var(--border-radius-small);
}
.carrousel .controls .bubble{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
    background: rgba(255,255,255,0.6);
    border: solid 1px transparent;
}
.carrousel .controls .bubble[selected="true"]{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
    background: var(--color-accentColor);
    border: solid 1px white;
}
.carrousel .controls .bubble:hover{
    opacity: 0.7;
}
.favBtn{
    position: absolute;
    right: 15px;
    top: 15px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    background: var(--color-bg-light);
    padding: 5px;
    border-radius: var(--border-radius-small);
    -webkit-box-shadow: var(--shadow); 
    box-shadow: var(--shadow); 
    transform: scale(1);
    transition: all 0.3s ease-out;
}
.favBtn:hover{
    transform: scale(1.1);
}
.favBtn img{
    width: 40px;
}
.favBtn[inFavs="true"] #fav_true{
    display: block;
}
.favBtn[inFavs="true"] #fav_false{
    display: none;
}
.favBtn[inFavs="false"] #fav_true{
    display: none;
}
.favBtn[inFavs="false"] #fav_false{
    display: block;
}