.blocksContainer{
    display: flex;
    margin: 25px;
    flex: 1;
    flex-direction: row;
    max-height: 100%;
}
.leftTab{
    width: 15vw;
    min-width: 500px;
    max-width: 800px;
    background-color: var(--color-bg-light);
    border-radius: var(--border-radius);
    margin-right: 15px;
    position: relative;
    overflow: hidden;
}
.leftTab .resultsContainer{
    width: 100%;
    left: 100%;
    max-height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    transition: left .5s;
}
.leftTab .resultsContainer[visible="false"]{
    left: 100%;
}
.leftTab .resultsContainer[visible="true"]{
    left: 0%;
}
.resultsContainer .filtersBar{
    height: 50px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    background-color: var(--color-bg-light);
    justify-content: space-between;
}
.resultsContainer .filtersBar button#openFiltersTab{
    height: 50px;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    border: 0;
    align-items: center;
    outline: none;
    cursor: pointer;
}
.resultsContainer .filtersBar button#openFiltersTab:hover{
    opacity: .7;
}
.resultsContainer .filtersBar button#openFiltersTab img{
    width: 20px;
    height: 20px;
    margin: 15px;
}
.resultsContainer .filtersBar button#openFiltersTab h1{
    margin: 10px;
    font-weight: 600;
    font-size: 15px;
    line-height: 30px;
    height: 30px;
    color: var(--color-font-title);
    margin-left: 0;
}
.resultsContainer .filtersBar button#refresh{
    height: 50px;
    width: 50px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    outline: none;
    border: 0;
    cursor: pointer;
}
.resultsContainer .filtersBar button#refresh:hover{
    opacity: .7;
}
.resultsContainer .filtersBar button#refresh img{
    width: 20px;
    height: 20px;
    margin: 15px;
}
.resultsContainer .title{
    position: absolute;
    top: 50px;
    height: 20px;
    padding: 20px;
    width: calc(100% - 40px);
    display: flex;
    flex-direction: row;
    background: rgb(255,255,255);
    background: linear-gradient(
0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 37%);
    z-index: 101;
}
.resultsContainer .title h1{
    flex: 1;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    vertical-align: middle;
    color: var(--color-font-title);
}
.resultsContainer .title button{
    background-color: transparent;
    border: 0;
    cursor: pointer;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.resultsContainer .kotsPreviewBlocker{
    height: 40px;
}
.liveMapContainer{
    flex: 1;
    background-color: var(--color-bg-light);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: solid 1px var(--color-bg-dark);
    position: relative;
}
.kotsPreviewsBlock{
    display: contents;
    max-height: 100%;
}
#kotsPreviewsContainer{
    flex: 1;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.liveMapContainer #map{
    width: 100%;
    height: 100%;
}


.leftTab .searchParams{
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    left: 0%;
    transition: left .5s;
}
.leftTab .searchParams[visible="false"]{
    left: -100%;
}
.leftTab .searchParams[visible="true"]{
    left: 0%;
}
.searchParams .applyFiltersBar{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.searchParams .applyFiltersBar #closeFiltersTab{
    height: 50px;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    align-items: center;
    border: 0;
    outline: none;
    cursor: pointer;
}
.searchParams .applyFiltersBar #closeFiltersTab:hover{
    opacity: .7;
}
.searchParams .applyFiltersBar #closeFiltersTab img {
    width: 20px;
    height: 20px;
    margin: 15px;
}
.searchParams .applyFiltersBar #closeFiltersTab h1{
    margin: 10px;
    font-weight: 600;
    font-size: 15px;
    line-height: 30px;
    height: 30px;
    color: var(--color-font-title);
    margin-right: 0;
}

.searchParams form .searchBar{
    margin: 5px 20px;
}
.searchParams form .filtersContainer{
    margin: 5px 20px;
}
.searchParams form{
    margin: 0;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

/*selectedKotPreview*/
.selectedKotPreview{
    position: absolute;
    right: 25px;
    top: 25px;
    background-color: var(--color-bg-light);
    display: flex;
    flex-direction: column;
    width: 330px;
    max-height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    transition: opacity .5s, transform .8s, box-shadow .8s;
    transform: scale(1);
    opacity: 1;
}
.selectedKotPreview[pop]{
    transform: scale(1.02);
    box-shadow: var(--shadow-strong);
}
.selectedKotPreview[kotSelected="none"]{
    width: 0px;
    height: 0px;
    transform: scale(1.1);
    opacity: 0;
}
.selectedKotPreview .kotImage{
    aspect-ratio: 2;
    overflow: hidden;
    background: var(--color-unloaded);
}
.selectedKotPreview .kotImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.selectedKotPreview .textContainer{
    margin: 15px;
    display: flex;
    flex-direction: column;
}
.selectedKotPreview .textContainer h1{
    color: var(--color-font-title);
    font-weight: 600;
    line-height: 22px;
    font-size: 18px;
}
.selectedKotPreview .textContainer h2{
    color: var(--color-font-subtitle);
    font-weight: 500;
    line-height: 18px;
    font-size: 14px;
    margin-bottom: 5px;
}
.selectedKotPreview .textContainer .tags{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 8px;
}
.selectedKotPreview .textContainer .tags .tag h2{
    font-weight: 600;
    font-size: 12px;
    background-color: var(--color-bg-dark);
    padding: 3px 8px;
    border-radius: 2px;
    margin-right: 5px;
}
.selectedKotPreview .textContainer p{
    color: var(--color-font-text);
    font-weight: 500;
    line-height: 15px;
    font-size: 13px;
}
.selectedKotPreview .otherInfos{
    display: flex;
    flex-direction: row;
    margin: 15px;
}
.selectedKotPreview .otherInfos .otherInfosColumn{
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}
.selectedKotPreview .otherInfos .otherInfosColumn .otherInfosItem{
    display: flex;
    flex-direction: row;
}
.selectedKotPreview .otherInfos .otherInfosColumn .otherInfosItem img{
    width: 20px;
    height: 20px;
    margin: 5px 0;
    margin-right: 8px;
}
.selectedKotPreview .otherInfos .otherInfosColumn .otherInfosItem h2{
    color: var(--color-font-subtitle);
    font-weight: 500;
    line-height: 30px;
    height: 30px;
    font-size: 13px;
}
.selectedKotPreview .buttonsContainer{
    display: flex;
    flex-direction: row;
    margin: 15px;
    flex-wrap: wrap;
}
.selectedKotPreview .buttonsContainer a{
    text-decoration: none;
    color: var(--color-font-op);
    font-weight: 500;
    font-size: 13px;
    background-color: var(--color-accentColor);
    padding: 10px 15px;
    border-radius: var(--border-radius-small);
    cursor: pointer;
}
.selectedKotPreview .buttonsContainer button{
    border: 0;
    text-decoration: none;
    color: var(--color-font-op);
    font-weight: 500;
    font-size: 13px;
    background-color: var(--color-button-extra);
    padding: 10px 15px;
    border-radius: var(--border-radius-small);
    cursor: pointer;
}
.selectedKotPreview .buttonsContainer .button-separator{
    width: 5px;
}
.selectedKotPreview .buttonsContainer a:hover{
    background-color: var(--color-pressed);
}
.selectedKotPreview .buttonsContainer button:hover{
    background-color: var(--color-button-extra-pressed);
}

.noKotFoundForFilters {
    width: 250px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.noKotFoundForFilters[hidden]{
    display: none;
}
.noKotFoundForFilters img {
    width: 250px;
    height: 250px;
    flex-shrink: 0;
}
.noKotFoundForFilters h1 {
    font-weight: 600;
    text-align: center;
    margin-top: 15px;
    font-size: 18px;
    letter-spacing: 0.5px;
    color: var(--color-font-title);
}

#loaderKotsPreview{
    width: 250px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#loaderKotsPreview[hidden]{
    display: none;
}


/*selector*/
.customSelector{
    font-weight: 500;
    cursor: pointer;
    width: 100%;
    position: relative;
    margin-bottom: 10px;
}
.customSelector[opened="true"]{
    z-index: 15;
}
.customSelector label{
    position: relative;
    display: block;
    cursor: pointer;
    padding: 8px 16px;
    background: var(--color-bg-light);
    border-radius: var(--border-radius-small);
    border: solid 2px #eee; 
    z-index: 8;
    letter-spacing: 1px;
    margin: 0;
}
.customSelector label:hover{
    border: solid 2px #000;
}
.customSelector label h2{
    text-align: center;
    line-height: 25px;
    font-size: 15px;
    font-weight: bold;
    margin-right: 25px;
}
.customSelector label::after {
    position: absolute;
    right: 8px;
    top: 0;
    bottom: 0;
    margin: auto;
    content: "";
    width: 25px;
    height: 25px;
    background-image: url(../imgs/icons/expand_more_black_24dp.svg);
    background-size: contain;
}
.customSelector .elements {
    position: relative;
    text-align: center;
    line-height: 25px;
    font-weight: bold;
    cursor: pointer;
    display: block;
    background: var(--color-bg-light);
    border-bottom-left-radius: var(--border-radius-small);
    border-bottom-right-radius: var(--border-radius-small);
    border: solid 2px#eee;
    padding-top: 15px;
    margin-top: -15px;
    overflow: hidden;
    display: none;
    width: calc(100% - 4px);
    max-height: 100px;
    overflow-y: auto;
}
.customSelector.long .elements {
    width: calc(100% - 4px);
}
.customSelector .elements .element {
    text-align: center;
    font-weight: 500;
    padding: 5px 0;
    cursor: pointer;
    background: var(--color-bg-light);
}
.customSelector .elements .element:hover {
    color: var(--color-accentColor);
}