.infoUser {
    margin: 25px;
    padding: 25px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    display: flex;
    height: auto;
    background-color: var(--color-bg-light);
    border: solid 1px var(--color-bg-dark);
    border-radius: var(--border-radius);
}
.picContainer{
    width: 250px;
    height: 250px;

    flex-shrink: 0;
    border-radius: 50%;
    aspect-ratio: 1;
    max-width: 200px;
    max-height: 200px;
    overflow: hidden;
    -webkit-box-shadow: var(--shadow-strong); 
    box-shadow: var(--shadow-strong);   
}
.picContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.infoContainer {
    margin: 15px;
    margin-top: 35px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.infoContainer h1{
    font-size: 32px;
    line-height: 36px;
    color: var(--color-font-title);
    font-weight: 600;
    margin-bottom: 8px;
}
.subInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 8px 0;
}
.subInfo img{
    width: 18px;
    height: 18px;
}
.subInfo h2{
    margin-left: 8px;
    font-size: 15px;
    line-height: 18px;
    color: var(--color-font-subtitle);
    font-weight: 600;
}
.buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
}
.buttonContainer a {
    width: calc(100% - 64px);
    position: relative;
    background: var(--color-accentColor);
    border-radius: var(--border-radius);
    border: 0;
    padding: 16px 32px;
    color: var(--color-font-op);
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin: 5px;
    cursor: pointer;
    padding-left: 57px;
    text-decoration: none;
}
.buttonContainer a:hover{
    background-color: var(--color-pressed);
}
.buttonContainer a::after {
    position: absolute;
    left: 16px;
    top: 0;
    bottom: 0;
    margin: auto;
    content: "";
    width: 25px;
    height: 25px;
    background-size: contain;
}
.buttonContainer a.modify::after{
    background-image: url(../imgs/icons/edit_white_24dp.svg);
}
.buttonContainer a.sendMessage::after{
    background-image: url(../imgs/icons/question_answer_white_24dp.svg);
}

.userPreferences{
    margin: 25px;
    flex: 1;
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 25px;
    background-color: var(--color-bg-light);
    border-radius: var(--border-radius);
}
.favouritesKots{
    margin: 25px;
    flex: 1;
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 25px;
    background-color: var(--color-bg-light);
    border-radius: var(--border-radius);
}

.userPreferences h2, .favouritesKots h2, .publishedKots h2{
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--color-font-title);
    font-size: 20px;
    letter-spacing: 1px;
}
.userPreferences p{
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: var(--color-font-text);
    white-space: pre-line;
}

/*Grid*/
.kotsContainer[hasKots="true"]{
    display: grid;
    grid-template-columns: 100%;
    margin-top: 0;
    align-items: flex-start;
}
@media only screen and (min-width: 840px) {
    .kotsContainer[hasKots="true"]{
        grid-template-columns: 50% 50%;
    }
}
@media only screen and (min-width: 1720px) {
    .kotsContainer[hasKots="true"]{
        grid-template-columns: 33% 33% 33%;
    }
}
@media only screen and (min-width: 2100px) {
    .kotsContainer[hasKots="true"]{
        grid-template-columns: 25% 25% 25% 25%;
    }
}


.noKot{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.noKot h3{
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    color: var(--color-font-title);
}

.publishedKots{
    margin: 25px;
    flex: 1;
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 25px;
    background-color: var(--color-bg-light);
    border-radius: var(--border-radius);
}

/*DESKTOP VERSION*/
@media only screen and (min-width: 1280px) {
    .infoUser{
        flex-direction: row;
        align-items: unset;
        justify-content: unset;
    }
    .picContainer{
        width: 12vw;
        height: unset;
        aspect-ratio: 1;
        margin: 15px;
        max-width: unset;
        max-height: unset;
    }
    .infoContainer{
        margin-top: 15px;
        align-items: unset;
    }
}